.player-control {
    height: 100%;
    width: 100%;
    position: relative;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.player-control > div {
    display: inline-block;
    height: 100%;
    float: left;
}

.commander-damage-container {
    width: 15%;
    font-size: 2em;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.4);
}

.player-control .life-control-container {
    width: 85%;
    position: relative;
}

.life-control-container > div {
    margin: auto;
}

.life-control-container h1.life-score {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9em;
    position: absolute;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    top: 24%;
    z-index: 150;
}

.life-control {
    font-size: 300%;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 200;
}

.life-control.down {
    bottom: 0;
}

/**
 * THEMES
 */
.theme_dragons {
    background-image: url('assets/ur-dragon.jpg');
}

.theme_cats {
    background-image: url('assets/arabho.jpg');
}

.theme_vampires {
    background-image: url('assets/kaalia.jpg');
}

.theme_wizards {
    background-image: url('assets/nekusar.jpg');
}

.loss {
    background-image: none;
    background-color: darkred;
    transition: background-color 1.1s ease-in;
}